body {
  opacity: 0.9;
  background-image: url(https://ajcarlisle.files.wordpress.com/2014/03/stevenss-epic-fantasy-criteria-transformative-tales-whendell-deviant-art1.jpg);
  background-position: center;
}

h1 {
  color: #000000 !important;
  text-align: center;
}

.opaque {
  opacity: 1.0;
}

.header {
  text-align: center;
  font-weight: 500 !important;
  background-color: #6c3c8c;
  border: solid black 4px;
  border-radius: 5px;
  padding: 3px;
  margin: 10px;
  color: #000000;
}

.shadow {
  color: #ffffff;
  text-shadow: 2px 2px black;
}

.btn {
  border: solid black 4px;
  border-radius: 5px;
}

.jumbotron {
  border-radius: none;
  background-color: #3c548c;
  border: solid black 4px;
}

.center {
  text-align: center;
  background-color: #6c3c8c;
  font-style: oblique;
  border: solid black 4px;
  border-radius: 5px;
  padding: 3px;
  margin: 10px;
  color: #000000;
  opacity: 50%;
}

.top-margin {
  margin-top: 10px;
  background-color: #ce212f;
}

#fantasy, #power, #black {
  display: none;
  margin-top: 10px;
}
