body {
  background-color: #024f1a;
  opacity: 100%;
}

.jumbotron {
  border-radius: none;
}

.center {
  text-align: center;
  color: yellow;
  font-style: oblique;
}

.top-margin {
  margin-top: 10px;
  background-color: #ce212f;
}

#fantasy, #power, #black {
  display: none;
  margin-top: 10px;
}
